/*!
  Theme: GitHub Dark
  Description: Dark theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-dark
  Current colors taken from GitHub's CSS
*/

pre:has(.hljs),
.hljs {
	color: #c9d1d9;
	background: #0d1117;
}

pre:has(.hljs-doctag),
.hljs-doctag,
pre:has(.hljs-keyword),
.hljs-keyword,
.hljs-meta .hljs-keyword,
pre:has(.hljs-template-tag),
.hljs-template-tag,
pre:has(.hljs-template-variable),
.hljs-template-variable,
pre:has(.hljs-type),
.hljs-type,
pre:has(.hljs-variable.language_),
.hljs-variable.language_ {
	/* prettylights-syntax-keyword */
	color: #ff7b72;
}

pre:has(.hljs-title),
.hljs-title,
pre:has(.hljs-title.class_),
.hljs-title.class_,
pre:has(.hljs-title.class_.inherited__),
.hljs-title.class_.inherited__,
pre:has(.hljs-title.function_),
.hljs-title.function_ {
	/* prettylights-syntax-entity */
	color: #d2a8ff;
}

pre:has(.hljs-attr),
.hljs-attr,
pre:has(.hljs-attribute),
.hljs-attribute,
pre:has(.hljs-literal),
.hljs-literal,
pre:has(.hljs-meta),
.hljs-meta,
pre:has(.hljs-number),
.hljs-number,
pre:has(.hljs-operator),
.hljs-operator,
pre:has(.hljs-variable),
.hljs-variable,
pre:has(.hljs-selector-attr),
.hljs-selector-attr,
pre:has(.hljs-selector-class),
.hljs-selector-class,
pre:has(.hljs-selector-id),
.hljs-selector-id {
	/* prettylights-syntax-constant */
	color: #79c0ff;
}

pre:has(.hljs-regexp),
.hljs-regexp,
pre:has(.hljs-string),
.hljs-string,
.hljs-meta .hljs-string {
	/* prettylights-syntax-string */
	color: #a5d6ff;
}

pre:has(.hljs-built_in),
.hljs-built_in,
pre:has(.hljs-symbol),
.hljs-symbol {
	/* prettylights-syntax-variable */
	color: #ffa657;
}

pre:has(.hljs-comment),
.hljs-comment,
pre:has(.hljs-code),
.hljs-code,
pre:has(.hljs-formula),
.hljs-formula {
	/* prettylights-syntax-comment */
	color: #8b949e;
}

pre:has(.hljs-name),
.hljs-name,
pre:has(.hljs-quote),
.hljs-quote,
pre:has(.hljs-selector-tag),
.hljs-selector-tag,
pre:has(.hljs-selector-pseudo),
.hljs-selector-pseudo {
	/* prettylights-syntax-entity-tag */
	color: #7ee787;
}

pre:has(.hljs-subst),
.hljs-subst {
	/* prettylights-syntax-storage-modifier-import */
	color: #c9d1d9;
}

pre:has(.hljs-section),
.hljs-section {
	/* prettylights-syntax-markup-heading */
	color: #1f6feb;
	font-weight: bold;
}

pre:has(.hljs-bullet),
.hljs-bullet {
	/* prettylights-syntax-markup-list */
	color: #f2cc60;
}

pre:has(.hljs-emphasis),
.hljs-emphasis {
	/* prettylights-syntax-markup-italic */
	color: #c9d1d9;
	font-style: italic;
}

pre:has(.hljs-strong),
.hljs-strong {
	/* prettylights-syntax-markup-bold */
	color: #c9d1d9;
	font-weight: bold;
}

pre:has(.hljs-addition),
.hljs-addition {
	/* prettylights-syntax-markup-inserted */
	color: #aff5b4;
	background-color: #033a16;
}

pre:has(.hljs-deletion),
.hljs-deletion {
	/* prettylights-syntax-markup-deleted */
	color: #ffdcd7;
	background-color: #67060c;
}

.hljs-char.escape_,
.hljs-link,
.hljs-params,
.hljs-property,
.hljs-punctuation,
.hljs-tag {
	/* purposely ignored */
}
